.switch-container {
    display: flex;
    background-color: #b7b9ba;
    border-radius: 99px;
    width: 100px;
    height: 40px;
    justify-content: space-between;
}

.fade-right {
    background-image: linear-gradient(to right, #8D8DFF, #b7b9ba);
}

.fade-left {
    background-image: linear-gradient(to left, #8D8DFF, #b7b9ba);
}

.toggle-btn {
    width: 70px;
    height: 35px;
    left: 5px;
    transition: background-color 0.1s ease, border-color 0.2ease;
    box-shadow: 1px 1px 10px rgba(0,0,0, 0.748);
    display: flex;
    position: absolute;
}

.inactive {
    opacity: 0.6;
  }